@model IEnumerable<Facturacion.Models.FacturaCabecera>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-4">Lista de Facturas</h1>

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="bi bi-plus"></i> Crear Nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaFactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                Cliente
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFactura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdClienteNavigation.Nombre)
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.IdFacturaCabecera"><i class="bi bi-pencil"></i> Editar</a> |
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.IdFacturaCabecera"><i class="bi bi-info-circle"></i> Detalles</a> |
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.IdFacturaCabecera"><i class="bi bi-trash"></i> Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
